@import "./fonts.scss";

$google-blue-50: #e8f0fe;
$google-blue-100: #c3ddfd;
$google-blue-200: #9cc7fb;
$google-blue-300: #70aef9;
$google-blue-400: #4293f8;
$google-blue-500: #4285f4;
$google-blue-600: #3575e3;
$google-blue-700: #2a63cc;
$google-blue-800: #204ea5;
$google-blue-900: #153977;

body {
  font-family: 'GoogleSans', sans-serif;
  margin: 0;
  padding: 0;
}