<body class="column">
  <header class="full-center mb-15">
    <h1>Welcome to My Project</h1>
  </header>
  <hr />
  <main class="column gap-2 mt-15">
    <section class="column gap-1">
      <h2>Sample Repository</h2>
      <a href="https://github.com/JoyBrar2001/Webapps-Template-Angular">
        Clone / Download this repo and let's get started!
      </a>
    </section>
    <section class="column gap-1 mt-25">
      <h2>Some more</h2>
      <p>Here is a sample button</p>
      <button>Click Me</button>
    </section>
    <section class="column gap-1 mt-25">
      <h2>Contact Us</h2>
      <p>
        If you have any questions or would like to get in touch, please don't
        hesitate to contact us.
      </p>
      <button>Sample Button</button>
    </section>
  </main>
  <footer class="full-center mt-25">
    <p>&copy; 2024 My Project. All rights reserved.</p>
  </footer>
</body>
